ion-card-subtitle{
   color:white;
}
ion-card{
    background-color: rgba(0, 91, 112, 1);
    text-align: center;
}
ion-button{
    --color:rgba(0, 91, 112, 1);
}
.colorPrincipalBoton {
    --background:rgb(255, 255, 255);
}
