<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Información</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Buscanos en nuestras redes sociales</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          <ion-router-link href="https://www.facebook.com/petrolerosavellaneda/">Facebook</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
          <ion-router-link href="https://twitter.com/petroleo_y">Twitter</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="globe-outline"></ion-icon>
          <ion-router-link href="http://www.spygpa.com.ar/web/">Sitio web oficial</ion-router-link>
        </ion-item>
      </ion-list>
      <ion-label>
        
      </ion-label>
<br>
<br>

      <ion-row>
        <ion-col>
          <ion-button expand="block" size="small">Cambiar contraseña</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" size="small" color="danger">Cerrar sesión</ion-button>
        </ion-col>
      </ion-row>
<br>

    </ion-card-content>
  </ion-card>
</ion-content>