<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Grupo Familiar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">Afiliado, Nombre 1</ion-card-subtitle>
    </ion-card-header>
    <ion-grid style="text-align: center;">
      <ion-row>
        <ion-col class="state">
          <div class="msg">
            <span></span> SPYGPA 
          </div>
        </ion-col>
        <ion-col class="logo">
          <img class="brand" src="assets/iconSPYGPAMini.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="date">
          Afiliado Nº:
        </ion-col>
      </ion-row>
      <ion-row class="digits">
        <ion-col class="number">
          1 2 3 4 5 6 7 8 / 0 0
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="date">
          Apellido, Nombre
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="date">
          DNI: 12345678
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">Afiliado, Nombre 2</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col class="state">
          <div class="msg">
            <span></span> SPYGPA 
          </div>
        </ion-col>
        <ion-col class="logo">
          <img class="brand" src="assets/iconSPYGPAMini.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="date">
          Afiliado Nº:
        </ion-col>
      </ion-row>
      <ion-row class="digits">
        <ion-col class="number">
          1 2 3 4 5 6 7 8 / 0 1
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="date">
          Apellido, Nombre
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="date">
          DNI: 12345678
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>  
</ion-content>
